<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <div id="main-wrapper" class="d-flex justify-content-center">
      <div class="container d-flex flex-column px-xxl-5">
        <div class="row flex-grow-1">
          <main aria-label="Main Content" class="col-12 px-md-4">
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
    </div>
    <div id="mask" class="d-none position-fixed w-100 h-100 z-1"></div>
  </body>
</html>